In [120]:
import pandas as pd
import re


df = pd.read_csv("../datasets/datasets/enron_spam_dataset.csv")

In [121]:
df.head(20)

,email_subject,email_body,is_spam
0,ena sales on hpl,just to update you on this project ' s status ...,0
1,98 - 6736 & 98 - 9638 for 1997 ( ua 4 issues ),the above referenced meters need to be placed ...,0
2,"hpl nominations for december 28 , 1999",( see attached file : hpll 228 . xls )\n- hpll...,0
3,revised nom - kcs resources,"daren ,\nit ' s in .\nbob\n- - - - - - - - - -...",0
4,new production - sitara deals needed,"daren ,\nfyi .\nbob\n- - - - - - - - - - - - -...",0
5,re : another hesco issue,help . steve mauch at hesco is wanting an answ...,0
6,"enron / hpl actuals for august 16 , 2000",teco tap 120 . 000 / hpl iferc ; 20 . 000 / en...,0
7,meter 1031 baytown exxon,daren - the valve for meter 1031 was not shut ...,0
8,ces deal clean - up,i will need to make these changes in sitara . ...,0
9,meter 5097,"daren ,\ndo you know if there should be a deal...",0
10,10 % off ! our gift to you !,[ image ] [ image ] [ image ] [ image ] [ imag...,0
11,password reset,this is a generated email - do not reply !\nif...,0
12,same day change - revision # 1 - txu fuel tran...,"17 , 2000\n( see attached file : hplnl 117 . x...",0
13,april nominations at shell deer park,- - - - - - - - - - - - - - - - - - - - - - fo...,0
14,"re : potential volume list for march , 2000",fyi . . . this well should come on the lst wee...,0
15,inactivations,cheryl johnson\n08 / 31 / 2000 11 : 14 am\nto ...,0
16,re : mitchell gas services 2 / 00,"i ' m not sure , but could you ask craig .\nju...",0
17,cpr pipeline exchange activity report,we have placed the cpr pipeline exchange activ...,0
18,revision # 1 - enron / hpl actuals for sept . ...,"sept 17 , 2000\nteco tap 51 . 667 / hpl gas da...",0
19,calpine daily gas nomination,"still under our scheduled maintenance outage ,...",0

In [122]:
len(df)

33715

In [123]:
df.duplicated(subset=['email_body']).sum()

np.int64(3936)

In [124]:
df.isnull().sum()

email_subject    289
email_body       371
is_spam            0
dtype: int64

In [125]:
df = df.drop_duplicates(subset=['email_body'])

In [126]:
df.isnull().sum()

email_subject    198
email_body         1
is_spam            0
dtype: int64

In [127]:
df = df.dropna()

In [128]:
df.isnull().sum()

email_subject    0
email_body       0
is_spam          0
dtype: int64

In [129]:
len(df)

29580

## Inital cleaning

In [130]:

def clean_text(s):
    s = str(s).lower()
    
    # Remove HTML tags
    s = re.sub(r"<.*?>", " ", s)
    
    # Normalize spaces
    s = re.sub(r'\s+', ' ', s).strip()
    
    return s

df['clean'] = df['email_body'].apply(clean_text)

In [131]:
df.sample(10)

,email_subject,email_body,is_spam,clean
10769,"all graphics software available , cheap oem ve...","good morning ,\nwe we offer latest oem package...",1,"good morning , we we offer latest oem packages..."
33480,from dr ndeye,"from the desk of dr . mohamed ndeye\nauditor ,...",1,"from the desk of dr . mohamed ndeye auditor , ..."
29518,unfaithful wives 0,"hello ,\nwe sent you an email a while ago , be...",1,"hello , we sent you an email a while ago , bec..."
2390,re : table and buffet,is it very dark in color ? and how big around ...,0,is it very dark in color ? and how big around ...
1409,registration welcome email,thank you for registering at citibank account ...,0,thank you for registering at citibank account ...
10947,partnership,"mr . edward moko\n18 independence close ,\njoh...",1,"mr . edward moko 18 independence close , johan..."
14326,fw : new deals for the week of oct . 12,is brooklyn navy yard deal still alive ? do yo...,0,is brooklyn navy yard deal still alive ? do yo...
5749,fw : luncheon meeting : asap,dear mr . kaminski :\njust to bring you up to ...,0,dear mr . kaminski : just to bring you up to d...
13209,enron mentions - 11 / 22 / 01,"corrections\nthe new york times , 11 / 22 / 01...",0,"corrections the new york times , 11 / 22 / 01 ..."
7606,re : carnegie interviews super friday,"vince ,\nthank you very much but i ended up fi...",0,"vince , thank you very much but i ended up fin..."

In [132]:
df['is_spam'].value_counts(normalize=True)

is_spam
0    0.533908
1    0.466092
Name: proportion, dtype: float64

In [133]:
df.sample(10)

,email_subject,email_body,is_spam,clean
21981,"fly macromedia . xp pro ( sp 2 ) , adobe photo...",companion here profession parents drew ?\nmost...,1,companion here profession parents drew ? most ...
29163,el paso outage,el paso was to begin meter maintenance sunday ...,0,el paso was to begin meter maintenance sunday ...
23649,sap a / r a / p aging report,tonight kris and i met with the sap team about...,0,tonight kris and i met with the sap team about...
30279,from mr li le song,from : mr . li le song\nhang seng bank ltd\nfu...,1,from : mr . li le song hang seng bank ltd fu s...
22114,cialis soft tabs - super viagra,"hi there ,\ntry our revolutionary product , c ...",1,"hi there , try our revolutionary product , c _..."
16003,online appilcatlon approova |,your soiut | 0 n | s here http : / / plunging ...,1,your soiut | 0 n | s here http : / / plunging ...
24413,like being a teenager,"hello , welcome to medzonline vituperative sho...",1,"hello , welcome to medzonline vituperative sho..."
20283,best software prices . anchorages elizabethan,through color surprise kill lone . run tree mo...,1,through color surprise kill lone . run tree mo...
28607,tw posting & bidding procedures / 4 / 26 / 01 ...,- - - - - - - - - - - - - - - - - - - - - - fo...,0,- - - - - - - - - - - - - - - - - - - - - - fo...
30148,buenos tardes !,hey ! : )\nbidaya neuchi\n,1,hey ! : ) bidaya neuchi

In [134]:
df.columns

Index(['email_subject', 'email_body', 'is_spam', 'clean'], dtype='object')

In [135]:
df = df.drop("email_body", axis=1)

In [136]:
df = df.drop("email_subject", axis=1)

In [137]:
df.sample(10)

       is_spam                                              clean
1183         0  - - - - - - - - - - - - - - - - - - - - - - fo...
32662        1  daneil mota abidjan cocodyles deux plateaux ( ...
8450         0  dear mr . kaminski , i sent my resume to your ...
8468         0  - - - - - - - - - - - - - - - - - - - - - - fo...
16151        1  greetings , we are accepting your mortgage app...
15752        1  hi , we have a new offer for you . buy cheap v...
870          0  no deal for march or april 2000 . . . . . . . ...
8353         0  - - - - - original message - - - - - from : pi...
1239         0  the meters listed in the attached email will b...
5940         0  with deep regret we announce that joe sutton ,...

In [138]:
len(df)

29580

In [139]:
df.sample(20)

       is_spam                                              clean
7894         0  comments from rick jones on the credit reserve...
15031        0  1 ) ssb conference call tuesday , february 13 ...
13465        0  my old cell phone has been retired . the new n...
30639        1  i came to show you this new site i found . it ...
21609        1  supplant legalized filibuster cedar subvert fa...
1684         0  darren , i understand that you can tell me the...
24507        1  see what raant to help you get loyments , with...
31659        1  online trusted pharmacy one of the best medica...
18240        1  top quality software : special offer # 1 : win...
8935         0  hi shirley , this email is in reference to you...
14457        0  i think it ' s in john ' s court . please advi...
28880        0  the newark group has withdrawn its bid for 800...
5323         0  here ' s the list of deals and accomplishments...
8310         0  london is very pleased with the speech . thank...
18126        1  online pharmacy provides secure access to pres...
30668        1  belly vienna twist dill darn false banister pr...
31296        1  mnei - the best smal | cap stock in 20 o 5 jus...
10609        1  hello , welcome to pharmon wallow line s dilat...
28790        0  calpine says 500 - mw texas natgas power plant...
12657        0  john : louise , dave and i discussed the manag...

### Initial cleaning (clean column):
- Lowercased text
- Removed HTML
- Removed punctuation
- Removed duplicate/nulls
- Normalized whitespace

## Cleaning P2

In [140]:
import nltk
from nltk.corpus import stopwords,  words
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import os


# download necessary data once
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')  # needed for lemmatizer
nltk.download('words')    # for english_vocab

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [141]:

# Explicitly set NLTK's data directory to the one you downloaded to
nltk_data_dir = r"C:\Users\lle34\AppData\Roaming\nltk_data"
os.environ["NLTK_DATA"] = nltk_data_dir

# Add custom path to the search location
nltk.data.path.append(nltk_data_dir)

# Confirm
print("NLTK data paths:")
for p in nltk.data.path:
    print("  -", p)

NLTK data paths:
  - C:\Users\lle34/nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\share\nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\lib\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\nltk_data
  - D:\nltk_data
  - E:\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data

In [142]:
nltk.download('punkt_tab', download_dir='C:/Users/lle34/AppData/Roaming/nltk_data')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:/Users/lle34/AppData/Roaming/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [143]:
print("stopwords loaded:", len(stopwords.words('english')))
print("tokenizer test:", word_tokenize("hello world!"))

stopwords loaded: 198
tokenizer test: ['hello', 'world', '!']

In [144]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text_2(text, min_words=1):

    # Tokenize
    tokens = word_tokenize(text)

    processed_tokens = []
    for word in tokens:
        # Keep alphabetic tokens only, remove stopwords
        if word not in stop_words:
            processed_tokens.append(lemmatizer.lemmatize(word))

    # Optionally skip very short texts
    if len(processed_tokens) < min_words:
        return None

    return " ".join(processed_tokens)

### Preprocessing_text_2/Final Cleaning
- Tokenizes text: Splits the text into individual words (tokens) for processing.
- Removes stopwords
- Lemmatizes words: Reduces words to their base forms
- Protects placeholders from being removed

Produces..
- A cleaned, tokenized, lemmatized string of text

The function takes a raw, cleaned email and produces a normalized version suitable for ML:
- Tokenized
- Stopwords removed
- Words lemmatized

In [146]:
# Apply preprocessing to the 'clean' column
df['final_text'] = df['clean'].apply(preprocess_text_2)

# Quick check
df.head()

,is_spam,clean,final_text
0,0,just to update you on this project ' s status ...,update project ' status : based new report sco...
1,0,the above referenced meters need to be placed ...,referenced meter need placed k . please note i...
2,0,( see attached file : hpll 228 . xls ) - hpll ...,( see attached file : hpll 228 . xl ) - hpll 2...
3,0,"daren , it ' s in . bob - - - - - - - - - - - ...","daren , ' . bob - - - - - - - - - - - - - - - ..."
4,0,"daren , fyi . bob - - - - - - - - - - - - - - ...","daren , fyi . bob - - - - - - - - - - - - - - ..."

In [147]:
df.sample(20)

,is_spam,clean,final_text
33273,1,colloquium wrongdoer ulterior quicklime tasty ...,colloquium wrongdoer ulterior quicklime tasty ...
29259,1,luckyday international . amsterdam - netherlan...,luckyday international . amsterdam - netherlan...
3316,0,- - - - - - - - - - - - - - - - - - - - - - fo...,- - - - - - - - - - - - - - - - - - - - - - fo...
18318,1,th ewe an saf twa ph macy en st dthe es yof ar...,th ewe saf twa ph macy en st dthe e yof ar spu...
32146,1,sony dsc - f 828 8 . 0 mp digital camera your ...,sony dsc - f 828 8 . 0 mp digital camera order...
9005,0,"kevin , per your request , please see below : ...","kevin , per request , please see : * * * * * *..."
6386,0,correlation i have included provision for prov...,correlation included provision providing rank ...
19586,1,"vinson , } _ 95 % 0 ff for all - v _ i - a - g...","vinson , } _ 95 % 0 ff - v _ - - g _ r ; @ c -..."
36,0,daren - meters 3002 and 3003 have volume from ...,daren - meter 3002 3003 volume jan 99 thru cur...
11514,0,here is a summary of the ees hit from marking ...,summary ee hit marking new curve . - - - - - o...
28890,0,michelle : this e - mail is to inform you that...,michelle : e - mail inform would like adjust r...
26502,1,submitting your website in search engines may ...,submitting website search engine may increase ...
18057,1,there is a free date site packed with tons of ...,free date site packed ton sex - addict . flowe...
13584,0,attached are the year - to - date deals throug...,attached year - - date deal 11 / 8 / 01 . lex ...
17486,0,trips and tips - - enron ' s global travel pro...,trip tip - - enron ' global travel program tra...
14099,0,tod just to be clear i am expecting mike to le...,tod clear expecting mike let san antonio know ...
17074,0,"dear bill , below please find a voice recordin...","dear bill , please find voice recording tape p..."
20552,1,"hey cheri , viaaa gra , ciaaaal is , vaaaaal i...","hey cheri , viaaa gra , ciaaaal , vaaaaal ium ..."
7097,0,changes in enron ' s business require us to re...,change enron ' business require u reevaluate a...
7720,0,the vacation carry - over report is due to pay...,vacation carry - report due payroll end week ....

In [148]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
is_spam       0
clean         0
final_text    2
dtype: int64

Need to remove empty strings, also read as NaN

In [ ]:
# Remove NaN in final_text col
df = df.dropna(subset=['final_text'])

In [156]:
print(df.isnull().sum())

is_spam       0
final_text    0
dtype: int64

In [157]:
df = df[['is_spam', 'final_text']]

In [164]:
df.sample(10)

       is_spam                                         final_text
27163        1  received virtual postcard family member ! . pi...
2663         0  received logon id password sap morning . hold ...
16792        0  fyi : lpm interview mitch moulton take place c...
18646        1  , . . . . ' , ` . . body buurn 3 - 7 pound eve...
17248        0  start date : 1 / 12 / 02 ; hourahead hour : 12...
17958        1  weekly special sportsman dvd cdrewriter $ 1088...
22142        0  confirms scheduled meeting following : : ase p...
5312         0  steve thanks agreeing talk . attach program se...
26862        1  investor aiert - l r c j - brand new stock att...
28796        1  ciearance bundle 1 : window x , p pro & office...

In [154]:
#df.to_csv("enron_1.csv", index=False)

Download cleaned dataset