In [1213]:
import pandas as pd

df = pd.read_csv("../datasets/datasets/enron_spam_dataset.csv")

In [1214]:
df.head(20)

,email_subject,email_body,is_spam
0,ena sales on hpl,just to update you on this project ' s status ...,0
1,98 - 6736 & 98 - 9638 for 1997 ( ua 4 issues ),the above referenced meters need to be placed ...,0
2,"hpl nominations for december 28 , 1999",( see attached file : hpll 228 . xls )\n- hpll...,0
3,revised nom - kcs resources,"daren ,\nit ' s in .\nbob\n- - - - - - - - - -...",0
4,new production - sitara deals needed,"daren ,\nfyi .\nbob\n- - - - - - - - - - - - -...",0
5,re : another hesco issue,help . steve mauch at hesco is wanting an answ...,0
6,"enron / hpl actuals for august 16 , 2000",teco tap 120 . 000 / hpl iferc ; 20 . 000 / en...,0
7,meter 1031 baytown exxon,daren - the valve for meter 1031 was not shut ...,0
8,ces deal clean - up,i will need to make these changes in sitara . ...,0
9,meter 5097,"daren ,\ndo you know if there should be a deal...",0
10,10 % off ! our gift to you !,[ image ] [ image ] [ image ] [ image ] [ imag...,0
11,password reset,this is a generated email - do not reply !\nif...,0
12,same day change - revision # 1 - txu fuel tran...,"17 , 2000\n( see attached file : hplnl 117 . x...",0
13,april nominations at shell deer park,- - - - - - - - - - - - - - - - - - - - - - fo...,0
14,"re : potential volume list for march , 2000",fyi . . . this well should come on the lst wee...,0
15,inactivations,cheryl johnson\n08 / 31 / 2000 11 : 14 am\nto ...,0
16,re : mitchell gas services 2 / 00,"i ' m not sure , but could you ask craig .\nju...",0
17,cpr pipeline exchange activity report,we have placed the cpr pipeline exchange activ...,0
18,revision # 1 - enron / hpl actuals for sept . ...,"sept 17 , 2000\nteco tap 51 . 667 / hpl gas da...",0
19,calpine daily gas nomination,"still under our scheduled maintenance outage ,...",0

In [1215]:
len(df)

33715

In [1216]:
df.duplicated().sum()

np.int64(3222)

In [1217]:
df.duplicated(subset=['email_body']).sum()

np.int64(3936)

In [1218]:
df.isnull().sum()

email_subject    289
email_body       371
is_spam            0
dtype: int64

In [1219]:

import re

def clean_text(s):
    s = str(s).lower()
    
    # Remove HTML tags first
    s = re.sub(r"<.*?>", " ", s)
    
    # Replace URLs, emails, and numbers with placeholders
    s = re.sub(r'http\S+', '<URL>', s)
    s = re.sub(r'\S+@\S+', '<EMAIL>', s)
    s = re.sub(r'\d+', '<NUM>', s)
    
    # Remove other punctuation but keep placeholders
    s = re.sub(r'[^a-zA-Z\s<>]', ' ', s)
    
    # Normalize spaces
    s = re.sub(r'\s+', ' ', s).strip()
    
    return s

# Apply to your DataFrame
df['clean'] = df['email_body'].apply(clean_text)

Placeholders:
Preserve meaningful patterns without overfitting, reduce the noise, and makes it easier to understand what the model is learning

In [1220]:
df.sample(10)

,email_subject,email_body,is_spam,clean
22766,re : perry gas - sap override issue,the cause of this was the timing of when sap w...,0,the cause of this was the timing of when sap w...
4866,we cannot cancel your payment n 92237,"dear paliourg ,\ni want to remind you that we ...",1,dear paliourg i want to remind you that we are...
30416,each pharmaceuticals at 0 . 57 $ for draught g...,cheapest d * r - u - g - s on the web\n- priva...,1,cheapest d r u g s on the web private online o...
28366,re : revised supply / market ebb posting,have you had a chance to look at this ? i just...,0,have you had a chance to look at this i just w...
10981,make some extra money fast read how here it is...,also on msn : start chattingilisten to musicih...,1,also on msn start chattingilisten to musicihou...
22500,re : order confirmation - # jg - 9931,"hey , come on - buy some viagra - as low as $ ...",1,hey come on buy some viagra as low as <NUM> <N...
28775,california capacity report for week of 11 / 19...,transwestern ' s average deliveries to califor...,0,transwestern s average deliveries to californi...
21550,office xp - $ 60 eddies woody,sign also cause . way plant women meet . black...,1,sign also cause way plant women meet black pro...
22273,stock pick alert - read the profile nb qpv,undervalued market report for largest percenta...,1,undervalued market report for largest percenta...
19956,secrets of zo 0 fils revealed ! new phot 0 s ....,looks like you ' ve come to a real zo 0 here !...,1,looks like you ve come to a real zo <NUM> here...

In [1221]:
phish_df = df[df['is_spam'] == 1]
safe_df  = df[df['is_spam'] == 0]

phish_df.sample(20)

,email_subject,email_body,is_spam,clean
19119,tadalafil soft tabs - great results !,hi !\nwe have a new product that we offer to y...,1,hi we have a new product that we offer to you ...
31120,much better than viagra,"hello ,\ntry this revolutionary product , cial...",1,hello try this revolutionary product cialis so...
10565,innovative and effective design for you !,adqueen is an institute committed\nto brand pl...,1,adqueen is an institute committed to brand pla...
18707,23 - nd . . . berkshire lineprinter,u n i v e r s i t y d i p l o m a s\nand d e g...,1,u n i v e r s i t y d i p l o m a s and d e g ...
27349,please fill the form below,"hi\ni ` ve found cool site , it is a lot of pr...",1,hi i ve found cool site it is a lot of program...
24041,right place to look for buying cheap viagra on...,find where to buy online cheap viagra .\nmay t...,1,find where to buy online cheap viagra may the ...
4672,you can start saving nab,"re - finance now , even with bad - credit !\n*...",1,re finance now even with bad credit best re fi...
24144,"localized software , all languages available .","hello , we would like to offer localized softw...",1,hello we would like to offer localized softwar...
24865,de la part des enfants ama,"rue des martyrs , avenue delafosse\n01 b p 124...",1,rue des martyrs avenue delafosse <NUM> b p <NU...
16494,new penny shares idea for you,mnei - the best smal | cap stock in 2 oo 5 jus...,1,mnei the best smal cap stock in <NUM> oo <NUM>...
32258,discover what it ' s like to perform like a pro !,rock her all night\nmore info here . . .\nhone...,1,rock her all night more info here honeybee ky ...
10031,mail delivery failed : returning message to se...,this message was created automatically by mail...,1,this message was created automatically by mail...
24720,"save you up to 70 % on toner cartridges , inkj...","is your laser printer , copier , fax , or inkj...",1,is your laser printer copier fax or inkjet pri...
4295,find out where to buy drugs cheap,find out where to buy drugs cheap\ndon ' t was...,1,find out where to buy drugs cheap don t waste ...
10101,important announcement : your application was ...,we tried to contact you last week about refina...,1,we tried to contact you last week about refina...
21394,dn trouble f . r . ee,angiospasm zekauskas anartismos death - denyin...,1,angiospasm zekauskas anartismos death denying ...
31902,there ' s nothing like a hot penny shares,"dewitt ,\ninvestor alert - lrcj - brand new st...",1,dewitt investor alert lrcj brand new stock for...
31850,save your money by getting an oem software !,need in software for your pc ? just visit our ...,1,need in software for your pc just visit our si...
15757,"matters \ / alluum , ambleen , xaanax , tussl ...","fixed straight ,\nxanaax , \ / alium , cialiis...",1,fixed straight xanaax alium cialiis iaagra amb...
29770,you ' ve won . we owe you money,"dear applicant ,\nyour financing application w...",1,dear applicant your financing application was ...

In [1222]:
df['is_spam'].value_counts(normalize=True)

is_spam
1    0.509269
0    0.490731
Name: proportion, dtype: float64

In [1223]:
df.sample(10)

,email_subject,email_body,is_spam,clean
23261,organisational announcement .,"please see the following announcement , which ...",0,please see the following announcement which ju...
4074,"smokers , cheap cigarettes",please click here if you don ' t want to hear ...,1,please click here if you don t want to hear ab...
28876,operator choice forms,attached below is the tw letter and request fo...,0,attached below is the tw letter and request fo...
25116,considered unsolicited bulk email from you,your message to :\n- > distmora @ agrocom . co...,1,your message to > distmora agrocom com ar was ...
6546,re : rtp project,please count the following 3 people from enron...,0,please count the following <NUM> people from e...
19594,downstream download girls fingering their anus...,NaN,1,nan
32657,is financial security in your future,substantial income handling court awards .\npr...,1,substantial income handling court awards proce...
21584,"viagra , xanax & ambien all handy for very low...","hello happy new year , this is dr .\nrachel di...",1,hello happy new year this is dr rachel diore a...
32868,date a lonely housewife,always wanted to date a lonely housewife ?\nwe...,1,always wanted to date a lonely housewife well ...
3241,panenergy marketing exchange deal,sitara # 157288\ncould you pls . have the rate...,0,sitara <NUM> could you pls have the rate for t...

In [1224]:
print(df.columns.tolist())

['email_subject', 'email_body', 'is_spam', 'clean']

In [1225]:
df = df.drop("email_body", axis=1)

In [1226]:
df = df.drop("email_subject", axis=1)

In [1227]:
df.sample(20)

       is_spam                                              clean
5752         0  vincent i enjoyed meeting with you yesterday a...
5901         0  for the next two days you can call me on the c...
10053        1  letter from david wood london greetings i am d...
21999        1  touche te veo mas tarde it takes more than jus...
230          0  darren thanks for the lead i ll give sam a cal...
15626        1  finally a mor t gag e l o an that works on you...
4209         1  htmlheadmeta http equiv content type content t...
18980        1  hello re confidential assistance first i must ...
14234        0  offsite ranabir dutt a vp in my group will not...
10300        1  paying high prices for a dial up connection on...
28626        0  contact lon stanton if you want to get on the ...
17088        0  start date <NUM> <NUM> <NUM> hourahead hour <N...
13116        0  focus i believe we should get back in front of...
23185        0  rick and sally i told the scholarship winners ...
13711        0  below is the transcript of an interview conduc...
30287        1  topyqu litylsoftvvare at the moment college fo...
8008         0  hi vince i just wanted to thank you for the op...
4287         1  rocket stocks newsletter u r g e n t i n v e s...
30391        1  sensate apollo decennial bergstrom exhaust sie...
28512        0  el paso south system flows <NUM> mmcf d less t...

In [1228]:
len(df)

33715

In [1229]:
df.duplicated(subset=['clean']).sum()

np.int64(5665)

In [1230]:
df = df.drop_duplicates(subset=['clean'])

delete dupes (rows with same body text)

In [1231]:
len(df)

28050

In [1232]:
df.isnull().sum()

is_spam    0
clean      0
dtype: int64

In [1233]:
df.sample(20)

       is_spam                                              clean
32441        1  <NUM> adult internet dating website <NUM> brow...
19317        1  profi gewerbe und buerostaubsauger fuer ihre j...
6410         0  dave i will be glad to participate vince enron...
8133         0  return path received from rly yao <NUM> mx aol...
2669         0  new deal number is <NUM> susan smith ect <NUM>...
3012         0  all except for last one rollled due to evergre...
14378        0  original message from adams matthew sent monda...
19773        1  bueons ncoseh married lady video no man but a ...
10185        1  jane here is the information you requested you...
23002        0  i ll be in houston on the <NUM> th so we can t...
19333        1  if you are paying more than <NUM> <NUM> on you...
12944        0  we have just been informed that the ftc has gr...
11002        1  hello deadpanpolitics <NUM> i just found a sit...
12549        0  attached please find the most recent draft of ...
9768         1  our delightful garden ornaments combine the fi...
9615         1  mortgage rates slashed for the last time let u...
10860        1  the power of email marketing email marketing i...
31329        1  hello vlgr professi <NUM> nal <NUM> <NUM> per ...
10946        1  dear friend my name is salim ibrahim a merchan...
23449        0  joe as a follow up on our meeting last week i ...

Initial cleaning (clean column):
- Numbers, URLs, and emails are replaced with placeholders
- Lowercased text
- Removed HTML
- Removed punctuation
- Removed duplicate/nulls
- Normalized whitespace

In [1234]:
df['is_spam'].value_counts(normalize=True)

is_spam
0    0.508734
1    0.491266
Name: proportion, dtype: float64

11/3/25: Finalizing DS cleaning

In [1235]:
# Check missing values
print("Missing values per column:")
print(df.isnull().sum())

# Quick sanity check of text content
print("\nExample cleaned text:")
print(df['clean'].head(5))

# Check label balance
print("\nLabel distribution:")
print(df['is_spam'].value_counts(normalize=True))

Missing values per column:
is_spam    0
clean      0
dtype: int64

Example cleaned text:
0    just to update you on this project s status ba...
1    the above referenced meters need to be placed ...
2      see attached file hpll <NUM> xls hpll <NUM> xls
3    daren it s in bob forwarded by robert cotten h...
4    daren fyi bob forwarded by robert cotten hou e...
Name: clean, dtype: object

Label distribution:
is_spam
0    0.508734
1    0.491266
Name: proportion, dtype: float64

In [1236]:
import nltk
from nltk.corpus import stopwords,  words
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

# download necessary data once
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')  # needed for lemmatizer
nltk.download('words')    # for english_vocab

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\lle34\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [1237]:
import nltk, os

# Explicitly set NLTK's data directory to the one you downloaded to
nltk_data_dir = r"C:\Users\lle34\AppData\Roaming\nltk_data"
os.environ["NLTK_DATA"] = nltk_data_dir

# Make sure NLTK knows about it right now
nltk.data.path.append(nltk_data_dir)

# Confirm
print("NLTK data paths:")
for p in nltk.data.path:
    print("  -", p)

NLTK data paths:
  - C:\Users\lle34/nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\share\nltk_data
  - c:\Users\lle34\AppData\Local\Programs\Python\Python312\lib\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\nltk_data
  - D:\nltk_data
  - E:\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data
  - C:\Users\lle34\AppData\Roaming\nltk_data

In [1238]:
import nltk
nltk.download('punkt_tab', download_dir='C:/Users/lle34/AppData/Roaming/nltk_data')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:/Users/lle34/AppData/Roaming/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [1239]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
print("stopwords loaded:", len(stopwords.words('english')))
print("tokenizer test:", word_tokenize("hello world!"))

stopwords loaded: 198
tokenizer test: ['hello', 'world', '!']

In [1240]:
from nltk.stem import WordNetLemmatizer

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
placeholders = ['<URL>', '<EMAIL>', '<NUM>']

def preprocess_text_keep_placeholders(text, min_words=1):
    # Protect placeholders
    placeholder_map = {}
    for i, ph in enumerate(placeholders):
        temp_token = f'XPLACEHOLDERX{i}X'
        placeholder_map[temp_token.lower()] = ph.lower()
        text = re.sub(re.escape(ph), temp_token, text, flags=re.IGNORECASE)

    # Lowercase
    text = text.lower()

    # Tokenize
    tokens = word_tokenize(text)

    processed_tokens = []
    for word in tokens:
        # Restore placeholders
        if word in placeholder_map:
            processed_tokens.append(placeholder_map[word])
        elif word.isalpha() and word not in stop_words:
            processed_tokens.append(lemmatizer.lemmatize(word))

    if len(processed_tokens) < min_words:
        return None

    return " ".join(processed_tokens)

# Test examples
sample_texts = [
    "Check out <URL> or email me at <EMAIL>.",
    "The quick brown fox jumps over the lazy dogs.",
    "Claim your prize now! <NUM> clicks only."
]

for text in sample_texts:
    processed = preprocess_text_keep_placeholders(text)
    print("Processed:", processed or "Skipped garbled text")

Processed: check <url> email <email>
Processed: quick brown fox jump lazy dog
Processed: claim prize <num> click

- Tokenizes text: Splits the text into individual words (tokens) for processing.
- Removes stopwords
- Lemmatizes words: Reduces words to their base forms
- Protects placeholders from being removed

Produces..
- A cleaned, tokenized, lemmatized string of text.
- Keeps placeholders for feature recognition.
- Removes irrelevant or noisy words (stopwords, very short tokens).

In [1241]:
df.sample(20)

       is_spam                                              clean
10343        1  take advantage of our no cost trial you ve got...
7820         0  kathy what is embanet do i have access from th...
31996        1  bamby artie dena riklauryn mechelle abdel madi...
24386        1  dear valued paypal member it has come to our a...
16279        1  attn russian investment opportunity dear sir o...
15263        1  utf <NUM> q replicas true replications wrist w...
23944        0  sally thought this might be something you coul...
13324        0  couple of things to note based on zufferli she...
5080         1  no additional charge for your prescription we ...
5109         1  for more details see the attachment attachment...
30852        1  g t th low st pric avaliabl you d s rv it jo n...
17228        0  after consulting with our california schedulin...
16227        1  crude insignificant deprivation incredulity di...
18974        1  we are very proud to introduce the new mith br...
25924        1  paypal is constantly working to ensure securit...
28972        0  project finance week march <NUM> <NUM> <NUM> m...
13586        0  we re all set for thursday <NUM> <NUM> at <NUM...
28191        0  transwestern s average deliveries to californi...
21373        1  new windows software s le we have al your favo...
6212         0  we are pleased to announce the creation of a n...

This function takes a raw, cleaned email and produces a normalized version suitable for ML:

Lowercase, tokenized
Stopwords removed
Words lemmatized
Ready as one string per email

In [1242]:
# Apply preprocessing to the 'clean' column
df['final_text'] = df['clean'].apply(preprocess_text_keep_placeholders)

# Quick check
df.head()

,is_spam,clean,final_text
0,0,just to update you on this project s status ba...,update project status based new report scott m...
1,0,the above referenced meters need to be placed ...,referenced meter need placed k please note inf...
2,0,see attached file hpll <NUM> xls hpll <NUM> xls,see attached file hpll <num> xl hpll <num> xl
3,0,daren it s in bob forwarded by robert cotten h...,daren bob forwarded robert cotten hou ect <num...
4,0,daren fyi bob forwarded by robert cotten hou e...,daren fyi bob forwarded robert cotten hou ect ...

Finalized text preprocessing/cleaning
- Stopwords removed
- Text tokenized
- Words lemmatized
- Emails normalized to a clean string ready for feature extraction

In [1243]:
df.sample(20)

,is_spam,clean,final_text
13960,0,we are working with jesus melendrez v p and jo...,working jesus melendrez v p john house ecr how...
5130,1,authentic reproductions watches we offer this ...,authentic reproduction watch offer trademark a...
19192,1,paliourg <NUM> online doctorz up to <NUM> of t...,paliourg <num> online doctorz <num> best pain ...
28945,0,this week we have two exciting espeak events t...,week two exciting espeak event tuesday septemb...
19768,1,banned cd government don t want me to sell it ...,banned cd government want sell see rnd syb blo...
4434,1,how are ya homeowner you have been pre approve...,ya homeowner pre approved <num> <num> home loa...
11869,0,below is the weekly western issues update sent...,weekly western issue update sent tim earlier q...
23678,0,sally i just want to summarize clarify our dis...,sally want summarize clarify discussion far co...
30086,1,flown tong flank danzig obstinate willard emot...,flown tong flank danzig obstinate willard emot...
2393,0,forwarded by ami chokshi corp enron on <NUM> <...,forwarded ami chokshi corp enron <num> <num> <...
5988,0,vince i am very enthusiastic about your intere...,vince enthusiastic interest possible contribut...
1433,0,want to verify your vacation carryover beginni...,want verify vacation carryover beginning janua...
29243,1,hello you have qualified for the lowest rate i...,hello qualified lowest rate year could get <nu...
3960,1,hi regalis also known as superviagra or cialis...,hi regalis also known superviagra cialis half ...
3195,0,meters <NUM> <NUM> <NUM> <NUM> george deal <NU...,meter <num> <num> <num> <num> george deal <num...
28084,0,original message from avon michele sent friday...,original message avon michele sent friday july...
12692,0,fyi original message from shankman jeffrey a s...,fyi original message shankman jeffrey sent tue...
22965,0,do we have an integration problem we need to d...,integration problem need deal also update comm...
10742,1,we ll give you <NUM> worth of soda or a <NUM> ...,give <num> worth soda <num> restaurant gift ca...
15316,1,attn subscribers investors analysts and stockb...,attn subscriber investor analyst stockbroker o...

In [1244]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
is_spam       0
clean         0
final_text    5
dtype: int64

In [1245]:
print("NaNs:", df['final_text'].isnull().sum())
print("Empty strings:", (df['final_text'].str.strip() == "").sum())

NaNs: 5
Empty strings: 0

Need to remove empty strings, also read as NaN

In [1246]:
# Remove empty strings/whitespace-only rows
df = df[df['final_text'].str.strip() != ""].reset_index(drop=True)

# Remove NaN in final_text col
df = df.dropna(subset=['final_text'])

In [1247]:
print(df.isnull().sum())

is_spam       0
clean         0
final_text    0
dtype: int64

In [1248]:
df = df[['is_spam', 'final_text']]

In [1249]:
df.to_csv("enron_1.csv", index=False)