In [36]:
import pandas as pd

df = pd.read_csv("../datasets/kaggle_phishing_ds2/Nazario_5.csv")

In [37]:
df.head()

,sender,receiver,date,subject,body,label,urls
0,"""Hu, Sylvia"" <Sylvia.Hu@ENRON.com>","""Acevedo, Felecia"" <Felecia.Acevedo@ENRON.com>...","Fri, 29 Jun 2001 08:36:09 -0500","FW: June 29 -- BNA, Inc. Daily Labor Report",User ID: enrondlr\nPW: bnaweb22\n\n\n ...,0,"['http://web.bna.com', 'http://pubs.bna.com/ip..."
1,"""Webb, Jay"" <Jay.Webb@ENRON.com>","""Lambie, Chris"" <Chris.Lambie@ENRON.com>","Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan.,"\nHi Chris, \n\nTonight we are rolling out a ...",0,[]
2,"""Symms, Mark"" <Mark.Symms@ENRON.com>","""Thomas, Paul D."" <Paul.D.Thomas@ENRON.com>","Fri, 29 Jun 2001 08:39:30 -0500",RE: Intranet Site,Rika r these new?\n\n -----Original Message---...,0,['http://eastpower.dev.corp.enron.com/summary/...
3,"""Thorne, Judy"" <Judy.Thorne@ENRON.com>","""Grass, John"" <John.Grass@ENRON.com>, ""Nemec, ...","Fri, 29 Jun 2001 10:35:17 -0500",FW: ENA Upstream Company information,"John/Gerald,\n\nWe are currently trading under...",0,[]
4,"""Williams, Jason R (Credit)"" <Jason.R.Williams...","""Nemec, Gerald"" <Gerald.Nemec@ENRON.com>, ""Dic...","Fri, 29 Jun 2001 10:40:02 -0500",New Master Physical,Gerald and Stacy -\n\nAttached is a worksheet ...,0,[]

In [38]:
len(df)

3065

In [39]:
import re

def clean_text(s):
    s = str(s).lower()
    s = re.sub(r'http\S+', ' ', s)       # remove URLs
    s = re.sub(r'[^a-z\s]', ' ', s)      # remove punctuation/numbers
    s = re.sub(r"<.*?>", "", s)          # remove HTML tags
    s = re.sub(r'\s+', ' ', s).strip()   # normalize spaces
    return s

df['clean_email_body'] = df['body'].apply(clean_text)

In [40]:
df.head()

,sender,receiver,date,subject,body,label,urls,clean_email_body
0,"""Hu, Sylvia"" <Sylvia.Hu@ENRON.com>","""Acevedo, Felecia"" <Felecia.Acevedo@ENRON.com>...","Fri, 29 Jun 2001 08:36:09 -0500","FW: June 29 -- BNA, Inc. Daily Labor Report",User ID: enrondlr\nPW: bnaweb22\n\n\n ...,0,"['http://web.bna.com', 'http://pubs.bna.com/ip...",user id enrondlr pw bnaweb original message fr...
1,"""Webb, Jay"" <Jay.Webb@ENRON.com>","""Lambie, Chris"" <Chris.Lambie@ENRON.com>","Fri, 29 Jun 2001 09:37:04 -0500",NGX failover plan.,"\nHi Chris, \n\nTonight we are rolling out a ...",0,[],hi chris tonight we are rolling out a new repo...
2,"""Symms, Mark"" <Mark.Symms@ENRON.com>","""Thomas, Paul D."" <Paul.D.Thomas@ENRON.com>","Fri, 29 Jun 2001 08:39:30 -0500",RE: Intranet Site,Rika r these new?\n\n -----Original Message---...,0,['http://eastpower.dev.corp.enron.com/summary/...,rika r these new original message from thomas ...
3,"""Thorne, Judy"" <Judy.Thorne@ENRON.com>","""Grass, John"" <John.Grass@ENRON.com>, ""Nemec, ...","Fri, 29 Jun 2001 10:35:17 -0500",FW: ENA Upstream Company information,"John/Gerald,\n\nWe are currently trading under...",0,[],john gerald we are currently trading under gtc...
4,"""Williams, Jason R (Credit)"" <Jason.R.Williams...","""Nemec, Gerald"" <Gerald.Nemec@ENRON.com>, ""Dic...","Fri, 29 Jun 2001 10:40:02 -0500",New Master Physical,Gerald and Stacy -\n\nAttached is a worksheet ...,0,[],gerald and stacy attached is a worksheet for a...

In [41]:
df = df.drop(columns=['sender', 'receiver','date','subject', 'urls','body'])

In [42]:
df.head()

   label                                   clean_email_body
0      0  user id enrondlr pw bnaweb original message fr...
1      0  hi chris tonight we are rolling out a new repo...
2      0  rika r these new original message from thomas ...
3      0  john gerald we are currently trading under gtc...
4      0  gerald and stacy attached is a worksheet for a...

In [43]:
len(df)

3065

In [44]:
df.duplicated().sum()

np.int64(100)

In [46]:
df = df.drop_duplicates(subset=['clean_email_body'])

In [48]:
len(df)

2965

In [47]:
df.isnull().sum()

label               0
clean_email_body    0
dtype: int64

In [49]:
df.sample(20)

      label                                   clean_email_body
2002      1  dear please note that your account will expire...
1551      1  new page to ensure delivery to your inbox plea...
316       0  date tue apr pdt from netapp ghoti byron netco...
1143      0  update of cvsroot spambayes spambayes spambaye...
1389      0  m mike masnick mike techdirt com writes m in w...
1223      0  hey it s not easy being green leslie leslie el...
1483      0  on tue at panu matilainen wrote on mon oct jes...
278       0  hi louise here is the final layout for the for...
553       0  hi again could someone out there give me some ...
199       0  gerald this message was in my draft folder for...
1723      1  to ensure delivery to your inbox please add us...
2763      1  your attention is urgently needed concerning y...
298       0  attached are information sheets on the becomin...
2258      1  uwdabmaselmwdabmasela qwdabmaselueswdabmaselt ...
618       0  derrell samba org writes derrell samba org wri...
2589      1  dear member due to numerous unauthorized trans...
2280      1  your credit card has expired hello your credit...
2327      1  exclusively for valued customer online access ...
532       0  proicon can be ftp d from ftp cs arizona icon ...
238       0  that should change the amount we will need in ...

In [50]:
df['label'].value_counts(normalize=True)

label
0    0.503541
1    0.496459
Name: proportion, dtype: float64